@model OASYS.Models.Aula
@{
    ViewBag.Title = "Editar Aula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Editar contrato @Model.IDaula</h2>
<hr />
<div class="row justify-content-center">
    <div class="col">
        <div class="form-horizontal">
            @using (Html.BeginForm("EditarAula", "Aula"))
            {
                @Html.HiddenFor(model => model.IDaula)

                <div class="form-group col-8">
                    <label for="NombreEmpresa">Nombre</label>
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre", @maxlenght = "3", @id = "nombre" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-8">
                    <label for="NombreEmpresa">Descripción</label>
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre", @maxlenght = "3", @id = "descripcion" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Modificar" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <div class="btn-group">
        <a class="nav-link" style="font-size: x-small; font: bold;" href="@Url.Action("AulaIndex", "Aula")">
            <img style="width:25px; height:25px;" src="~/Assets/Icons/icons8-return-48.png">
        </a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}